$base_theme: (
  "owner": (
    "author": (
      "display": flex,
      "align-items": "center",
      "margin": 10px,
      "padding": 10px,
      "font-size": 25px,
      "font-weight": 400,
      "width": 40px,
      "height": 40px,
    ),
    "message": (
      "margin": null,
      "padding": null,
      "font-size": 25px,
      "font-weight": null,
    ),
  ),
  "moderator": (
    "author": (
      "display": flex,
      "align-items": "center",
      "margin": 10px,
      "padding": 10px,
      "font-size": 25px,
      "font-weight": 400,
      "width": 40px,
      "height": 40px,
    ),
    "message": (
      "margin": null,
      "padding": null,
      "font-size": 25px,
      "font-weight": null,
    ),
  ),
  "member": (
    "author": (
      "display": flex,
      "align-items": "center",
      "margin": null,
      "padding": 10px,
      "font-size": 25px,
      "font-weight": 400,
      "width": 40px,
      "height": 40px,
    ),
    "message": (
      "margin": null,
      "padding": null,
      "font-size": 25px,
      "font-weight": null,
    ),
  ),
  "user": (
    "author": (
      "display": flex,
      "align-items": "center",
      "margin": null,
      "padding": 10px,
      "font-size": 25px,
      "font-weight": 400,
      "width": 40px,
      "height": 40px,
    ),
    "message": (
      "margin": null,
      "padding": null,
      "font-size": 25px,
      "font-weight": null,
    ),
    "avatar": (
      "width": 15px,
      "height": 15px,
      "margin": 15px,
      "padding": 15px,
      "font-size": 20px,
      "font-weight": 15px,
    ),
  ),
  "global": (
    --mks-page-border-radius: 15px,
    --mks-page-background-color: #00000075,

    // yt
    --scrollbar-width: 0,
    --yt-img-border-radius: 50%,
    --yt-live-chat-background-color: var(--mks-page-background-color),
  ),
) !default;

:root {
  @each $author-type, $configs in $base_theme {
    @if $author-type == "global" {
      @each $key, $value in $configs {
        @if str-index($key, "--mks-") {
          #{$key}: #{$value};
        } @else {
          #{$key}: #{$value} !important;
        }
      }
    } @else {
      @each $type in "author", "message", "avatar" {
        $_: $author-type;
        @if $type != "author" {
          $_: #{$type}-#{$author-type};
        }
        @each $key, $value in map-get($configs, $type) {
          @if $value != null {
            --mkc-#{$_}-#{$key}: #{$value};
          }
        }
      }
    }
  }
}
