$base_theme: (
  "owner": (
    "author": (
      "display": flex,
      "align-items": "center",
      "margin": 10px,
      "padding": 10px,
      "font-size": 25px,
      "font-weight": 400,
      "width": 40px,
      "height": 40px,
    ),
    "message": (
      "margin": "a",
      "padding": "a",
      "font-size": 25px,
      "font-weight": "a",
    ),
  ),
  "moderator": (
    "author": (
      "display": flex,
      "align-items": "center",
      "margin": 10px,
      "padding": 10px,
      "font-size": 25px,
      "font-weight": 400,
      "width": 40px,
      "height": 40px,
    ),
    "message": (
      "margin": "a",
      "padding": "a",
      "font-size": 25px,
      "font-weight": "a",
    ),
  ),
  "member": (
    "author": (
      "display": flex,
      "align-items": "center",
      "margin": 10px,
      "padding": 10px,
      "font-size": 25px,
      "font-weight": 400,
      "width": 40px,
      "height": 40px,
    ),
    "message": (
      "margin": "a",
      "padding": "a",
      "font-size": 25px,
      "font-weight": "a",
    ),
  ),
  "user": (
    "author": (
      "display": flex,
      "align-items": "center",
      "margin": 10px,
      "padding": 10px,
      "font-size": 25px,
      "font-weight": 400,
      "width": 40px,
      "height": 40px,
    ),
    "message": (
      "margin": "a",
      "padding": "a",
      "font-size": 25px,
      "font-weight": "a",
    ),
    "avatar": (
      "width": 15px,
      "height": 15px,
      "margin": 15px,
      "padding": 15px,
      "font-size": 20px,
      "font-weight": 15px,
    ),
  ),
  "global": (
    --yt-img-border-radius: 50%,
    --yt-live-chat-background-color: #00000075,
  ),
) !default;
